---
import { composeClass } from "@util/composeClasses";

const classBase =
  "flex w-[3.75rem] sm:w-20 items-center justify-center rounded py-2 sm:text-sm text-xs font-medium card-tag";

const classColors = {
  sky: "bg-sky-900 text-sky-100",
  cyan: "bg-cyan-900 text-cyan-100",
  green: "bg-green-900 text-green-100",
  red: "bg-red-900 text-red-100",
  indigo: "bg-indigo-900 text-indigo-100",
  orange: "bg-orange-900 text-orange-100",
  rose: "bg-rose-900 text-rose-100",
};

type Colors = keyof typeof classColors;
export type TagNames = keyof typeof projectTags;

const projectTags = {
  Tailwind: "cyan",
  Zustand: "red",
  React: "sky",
  "Next JS": "rose",
  MongoDB: "green",
  Express: "indigo",
  Astro: "orange",
} satisfies Record<string, Colors>;

interface Props {
  tagName: TagNames;
}

const { tagName } = Astro.props;
---

<div class:list={composeClass(classBase, classColors[projectTags[tagName]])}>
  {tagName}
</div>

<style>
  .card-tag {
    animation: move-down ease 1s 0.4s both;
  }
</style>
