---
import type { TagNameProps } from "@customTypes/projects";
import { projectTags } from "@data/projectTags";

const classBase =
  "flex w-[4.25rem] sm:w-20 items-center justify-center rounded py-2 sm:text-sm text-xs font-medium card-tag";

const classColors = {
  sky: "bg-sky-900 text-sky-100",
  cyan: "bg-cyan-900 text-cyan-100",
  green: "bg-green-900 text-green-100",
  red: "bg-red-900 text-red-100",
  indigo: "bg-indigo-900 text-indigo-100",
  orange: "bg-orange-900 text-orange-100",
  rose: "bg-rose-900 text-rose-100",
};

export type TagColorsProps = keyof typeof classColors;

const findTupleColorName = (tagName: TagNameProps) =>
  projectTags.find((tag) => tag[0] === tagName)![1];

const composeClass = (tagName: TagNameProps) => {
  const colorName = findTupleColorName(tagName);
  return `${classBase} ${classColors[colorName]}`;
};

interface Props {
  tagName: TagNameProps;
}

const { tagName } = Astro.props;
---

<div class={composeClass(tagName)}>
  {tagName}
</div>

<script></script>
