---
import { composeClass } from "@util/composeClasses";

const classBase =
  "flex w-[4.25rem] sm:w-20 items-center justify-center rounded py-2 sm:text-sm text-xs font-medium card-tag";

const classColors = {
  sky: "bg-sky-900 text-sky-100",
  cyan: "bg-cyan-900 text-cyan-100",
  green: "bg-green-900 text-green-100",
  red: "bg-red-900 text-red-100",
  indigo: "bg-indigo-900 text-indigo-100",
  orange: "bg-orange-900 text-orange-100",
  rose: "bg-rose-900 text-rose-100",
};

type TagsNameProps = "Tailwind" | "Zustand" | "React" | "Next JS" | "MongoDB" | "Express";

export const projectTags: Record<TagsNameProps, keyof typeof classColors> = {
  Tailwind: "cyan",
  Zustand: "red",
  React: "sky",
  "Next JS": "orange",
  MongoDB: "green",
  Express: "indigo",
};

interface Props {
  tagName: keyof typeof projectTags;
}

const { tagName } = Astro.props;
---

<div class:list={composeClass(classBase, classColors[projectTags[tagName]])}>
  {tagName}
</div>

<script></script>
