---
import { cva } from "class-variance-authority";
import type { VariantProps } from "class-variance-authority";

type TagProps = Required<VariantProps<typeof tagVariants>>;

interface Props {
  color: TagProps["color"];
  children: string;
}

const tagVariants = cva(
  "flex w-20 items-center justify-center rounded py-2 text-sm font-medium",
  {
    variants: {
      color: {
        blue: "bg-blue-900 text-blue-100",
        emerald: "bg-emerald-900 text-emerald-100",
        red: "bg-red-900 text-red-100",
        indigo: "bg-indigo-900 text-indigo-100",
        orange: "bg-orange-900 text-orange-100",
        rose: "bg-rose-900 text-rose-100",
      },
    },
    defaultVariants: {
      color: "blue",
    },
  }
);

const { color } = Astro.props;

export type { Props as TagProps };
---

<div class={tagVariants({ color })}>
  <slot />
</div>

<script></script>
