---
import HomeButton from "@components/home/HomeButton.astro";
import Layout from "@layouts/Layout.astro";
import { t, changeLanguage } from "i18next";

changeLanguage("fr");
---

<Layout>
  <main class="mx-auto max-w-5xl pb-4 font-black">
    <p class="text-[6rem] uppercase leading-none md:text-9xl xl:text-[9rem]">
      FÁBIO
    </p>
    <p class="text-[3rem] uppercase leading-none md:text-7xl xl:text-[7rem]">
      RODRIGUES
    </p>
    <p
      class="animate-text bg-gradient-to-r from-cyan-500 via-indigo-400 to-blue-500 bg-clip-text pb-6 pt-2 text-4xl uppercase tracking-wide text-transparent md:text-5xl"
    >
      {t("home.description")}
    </p>

    <p
      class="text-lg font-semibold leading-relaxed text-neutral-300 md:text-xl"
    >
      {t("home.welcome")}
    </p>
    <p class="text-lg font-normal text-neutral-400 md:text-xl">
      {t("home.welcome-description")}
    </p>
    <HomeButton />
  </main>
</Layout>
