---
import Card from "@components/projects/Card.astro";
import Layout from "@layouts/Layout.astro";
import { projectsData as projects } from "@data/projects";
import { t, changeLanguage } from "i18next";

changeLanguage("fr");
---

<Layout title="projects.title">
  <main class="m-auto flex max-w-6xl flex-col items-center pb-8 sm:pb-20">
    <h1 class="pb-6 text-3xl font-black uppercase sm:text-5xl md:pb-8">
      {t("projects.heading")}
    </h1>
    <div class="grid gap-4 lg:grid-cols-2">
      {
        projects.map((project) => (
          <Card projectData={project}>
            <ul class="ml-4 list-disc pb-4 pt-1 text-neutral-400">
              {project.list?.map((item) => (
                <li set:html={t(item)} />
              ))}
            </ul>
          </Card>
        ))
      }
    </div>
  </main>
</Layout>
