@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .nav-link {
    @apply text-neutral-200 underline decoration-blue-500 decoration-2 underline-offset-2;
  }

  .button-glow {
    box-shadow: 0 5px 60px #4a8dfa3d, 0 0 5px #6365f19f;
  }
}

::selection {
  @apply bg-blue-500 text-neutral-900;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(92, 92, 92);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0f0f0f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(41, 41, 41);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(92, 92, 92);
}

@keyframes fade-in {
  0% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

@keyframes move-down {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

main {
  animation: fade-in ease-out 0.7s;
}
