---
import { changeLanguage, t } from "i18next";
import Layout from "@layouts/Layout.astro";

changeLanguage("en");
---

<Layout title="about.title">
  <main
    class="mx-auto max-w-4xl pb-4 text-lg text-neutral-200 sm:text-xl"
  >
    <h1
      class="pb-6 text-center text-3xl font-black uppercase sm:text-5xl md:pb-8"
    >
      {t("about.title")}
    </h1>
    {
      t("about.content")
        .split(/\r?\n|\r|\n/g)
        .map((a) => <p class="pb-2">{a}</p>)
    }
  </main>
</Layout>
