---
import Layout from "@layouts/Layout.astro";
import { t, changeLanguage } from "i18next";
import { contactMethods } from "@data/contact";
import Card from "@components/contact/Card.astro";

changeLanguage("en");
---

<Layout title="contact.title">
  <main class="mx-auto max-w-5xl pb-4">
    <h1
      class="pb-6 text-center text-3xl font-black uppercase sm:text-5xl md:pb-8"
    >
      Contact
    </h1>
    <div class="flex flex-col sm:flex-row gap-4">
      {contactMethods.map((method) => <Card method={method} />)}
    </div>
  </main>
</Layout>
