---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="m-auto max-w-5xl font-bold">
    <p class="text-[6rem] leading-none md:text-9xl xl:text-[9rem]">FÁBIO</p>
    <p class="text-[3rem] tracking-wide md:text-7xl xl:text-[7rem]">
      RODRIGUES
    </p>
    <p
      class="font animate-text bg-gradient-to-r from-cyan-500 via-indigo-400 to-blue-500 bg-clip-text pb-8 pt-2 text-4xl tracking-wide text-transparent md:text-5xl"
    >
      SELF-TAUGHT WEB DEVELOPPER
    </p>

    <p class="text-xl font-medium tracking-wide text-neutral-200">
      Welcome to my personal website, where I showcase my web development
      abilities. <br />On this site, you will find a selection of my most
      notable web development projects.
    </p>
  </main>
</Layout>
