---
import HomeButton from "@components/home/HomeButton.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <main class="m-auto max-w-5xl pb-4 font-black">
    <p class="text-[6rem] leading-none md:text-9xl xl:text-[9rem]">FÁBIO</p>
    <p class="text-[3rem] leading-none md:text-7xl xl:text-[7rem]">RODRIGUES</p>
    <p
      class="animate-text bg-gradient-to-r from-cyan-500 via-indigo-400 to-blue-500 bg-clip-text pb-6 pt-2 text-4xl tracking-wide text-transparent md:text-5xl"
    >
      SELF-TAUGHT WEB DEVELOPPER
    </p>

    <p
      class="text-lg font-semibold leading-relaxed text-neutral-300 md:text-xl"
    >
      Welcome to my personal website!
    </p>
    <p class="text-lg font-normal text-neutral-400 md:text-xl">
      On this website, you will find a selection of my most notable web
      development projects, information about myself, and details on how to
      contact me.
    </p>
    <HomeButton />
  </main>
</Layout>
