---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Navbar />
  <main class="font-bold">
    <p class="text-7xl">FÁBIO</p>
    <p class="text-5xl">RODRIGUES</p>
    <p class="text-xl py-4 font">Self-taught web developper</p>
    <p class="text-xl pb-1">Hi!</p>
    <p class="font-medium">
      Welcome to my personal website, where I showcase my web development
      abilities. On this site, you will find a selection of my most notable web
      development projects.
    </p>
  </main>
</Layout>
