---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import shopping from "/shopping.webp";
import memory from "/memory.webp";
import type { ProjectProps } from "../types";

const projects: ProjectProps[] = [
  {
    title: "Shopping Cart",
    details: "A front end project made with React and Next JS.",
    image: shopping,
    link: "https://shopping-cart-cakegod.vercel.app/shop",
    list: [
      "Utilized <strong>Next.js</strong> for routing and optimization of images and fonts.",
      "Implemented <strong>Zustand</strong> for state management.",
    ],
    tags: [
      { name: "Tailwind", color: "emerald" },
      { name: "Next JS", color: "indigo" },
    ],
  },
  {
    title: "Memory Game",
    details: "A memory game front end project made with React.",
    image: memory,
    link: "https://memory-card-game-umber.vercel.app/",
  },
  {
    title: "Memory Game",
    details: "A memory game front end project made with React.",
    image: memory,
    link: "https://memory-card-game-umber.vercel.app/",
  },
  {
    title: "Memory Game",
    details: "A memory game front end project made with React.",
    image: memory,
    link: "https://memory-card-game-umber.vercel.app/",
  },
];
---

<Layout title="Projects">
  <main class="m-auto flex max-w-6xl flex-col items-center pb-8 sm:pb-20">
    <h1 class="pb-6 text-2xl font-black uppercase sm:text-5xl md:text-5xl">
      Things I have built
    </h1>
    <div class="grid gap-4 lg:grid-cols-2">
      {
        projects.map((project) => (
          <Card projectData={project}>
            <ul class="ml-4 list-disc pt-1 pb-4 text-neutral-400">
              {project.list?.map((item) => (
                <li set:html={item} />
              ))}
            </ul>
          </Card>
        ))
      }
    </div>
  </main>
</Layout>
