---
import Card from "@components/projects/Card.astro";
import Layout from "@layouts/Layout.astro";
import { projectsData as projects } from "@data/projects";
---

<Layout title="Projects">
  <main class="m-auto flex max-w-6xl flex-col items-center pb-8 sm:pb-20">
    <h1 class="pb-6 md:pb-12 text-2xl font-black uppercase sm:text-5xl md:text-5xl">
      Things I have built
    </h1>
    <div class="grid gap-4 lg:grid-cols-2">
      {
        projects.map((project) => (
          <Card projectData={project}>
            <ul class="ml-4 list-disc pt-1 pb-4 text-neutral-400">
              {project.list?.map((item) => (
                <li set:html={item} />
              ))}
            </ul>
          </Card>
        ))
      }
    </div>
  </main>
</Layout>
