---
import { t } from "i18next";
import { composeClass } from "src/util/composeClasses";

const classBase = "h-12 w-full rounded font-medium transition-all";

const classColors = {
  blue: "bg-blue-700 text-blue-200",
  amber: "bg-amber-700 text-amber-200",
};

type ContactProps = "E-mail" | "Github";

const contacts: Record<ContactProps, keyof typeof classColors> = {
  "E-mail": "blue",
  Github: "amber",
};

interface Props {
  method: {
    heading: ContactProps;
    description: string;
    button: string;
    link: string;
  };
}

const { method } = Astro.props;
const { heading, description, button, link } = method;
---

<div
  class="flex max-w-xs flex-col items-center justify-between gap-6 rounded border border-neutral-800 bg-black p-10 pb-8 text-center"
>
  <h2 class="text-2xl font-black sm:text-3xl">{t(heading)}</h2>
  <p class="text-base text-neutral-400">
    {t(description)}
  </p>
  <button class:list={composeClass(classBase, classColors[contacts[heading]])}>
    <a class="flex h-full w-full items-center justify-center" href={link}
      >{t(button)}</a
    >
  </button>
</div>
