<div class="z-50 space-y-2 md:hidden" id="hamburger">
  <span class="block h-0.5 w-8 bg-neutral-50 transition-transform duration-300"></span>
  <span class="block h-0.5 w-8 bg-neutral-50"></span>
  <span class="block h-0.5 w-8 bg-neutral-50 transition-transform duration-300"></span>
</div>

<script>
  const hamburger = document.getElementById("hamburger") as HTMLDivElement;
  const menu = document.getElementById("menu") as HTMLDivElement;

  const toggleClasses = (element: Element, classes: string) => {
    classes.split(" ").map((cls) => element.classList.toggle(cls));
  };

  hamburger.addEventListener("click", () => {
    toggleClasses(hamburger.children[0]!, "rotate-45 translate-y-2");
    toggleClasses(hamburger.children[1]!, "opacity-0");
    toggleClasses(hamburger.children[2]!, "-translate-y-3 -rotate-45");
    !menu.classList.contains("animate-open")
      ? menu.classList.toggle("animate-open")
      : menu.classList.toggle("animate-open-reverse");
  });
</script>
