<div class="z-20 space-y-2 md:hidden" id="hamburger">
  <span class="block h-0.5 w-5 bg-neutral-50"></span>
  <span class="block h-0.5 w-8 bg-neutral-50"></span>
  <span class="block h-0.5 w-8 bg-neutral-50"></span>
</div>
