<div class="z-50 space-y-2 md:hidden" id="hamburger">
  <span class="block h-0.5 w-8 bg-neutral-50 transition-transform duration-300"
  ></span>
  <span class="block h-0.5 w-8 bg-neutral-50"></span>
  <span class="block h-0.5 w-8 bg-neutral-50 transition-transform duration-300"
  ></span>
</div>

<script>
  const hamburger = document.getElementById("hamburger") as HTMLDivElement;

  hamburger.addEventListener("click", () => {
    hamburger.children[0]?.classList.toggle("open-one");
    hamburger.children[1]?.classList.toggle("open-two");
    hamburger.children[2]?.classList.toggle("open-three");
  });
</script>

<style>
  .open-one {
    @apply translate-y-2 rotate-45;
  }

  .open-two {
    @apply opacity-0;
  }

  .open-three {
    @apply -translate-y-3 -rotate-45;
  }
</style>
