---
import Hamburger from "@components/navbar/Hamburger.astro";
import Links from "@components/navbar/Links.astro";
import Logo from "@components/navbar/Logo.astro";
import { LanguageSelector } from "astro-i18next/components";
---

<nav
  class="mb-4 flex h-20 shrink-0 items-center justify-between text-2xl font-semibold md:mb-12 md:h-28"
>
  <Logo />
  <div class="flex items-center">
    <LanguageSelector class="mr-8 bg-black text-base" showFlag={true} />
    <Hamburger />
    <Links />
  </div>
</nav>

<script>
  const linkNames = ["home", "projects", "about", "contact"];

  linkNames.forEach((link) => {
    const linkElement = document.getElementById(link) as HTMLLinkElement;
    if (linkElement.getAttribute("href") === window.location.pathname) {
      linkElement.classList.add("nav-link");
    }
  });
</script>
