---
import Hamburger from "@components/navbar/Hamburger.astro";
import Links from "@components/navbar/Links.astro";
import Logo from "@components/navbar/Logo.astro";
---

<nav
  class="mb-12 flex h-20 shrink-0 items-center justify-between text-2xl font-semibold md:h-28"
>
  <Logo />
  <div class="flex flex-col items-end">
    <Hamburger />
    <Links />
  </div>
</nav>

<script>
  const hamburger = document.getElementById("hamburger") as HTMLDivElement;
  const menu = document.getElementById("menu") as HTMLDivElement;
  const home = document.getElementById("home") as HTMLLinkElement;
  const projects = document.getElementById("projects") as HTMLLinkElement;
  const about = document.getElementById("about") as HTMLLinkElement;
  const contact = document.getElementById("contact") as HTMLLinkElement;

  function linkToggle() {
    switch (window.location.pathname) {
      case home.getAttribute("href"):
        home.classList.add("nav-link");
        break;
      case projects.getAttribute("href"):
        projects.classList.add("nav-link");
        break;
      case about.getAttribute("href"):
        about.classList.add("nav-link");
        break;
      case contact.getAttribute("href"):
        contact.classList.add("nav-link");
        break;
    }
  }

  linkToggle();

  hamburger.addEventListener("click", () => {
    !menu.classList.contains("animate-open")
      ? menu.classList.toggle("animate-open")
      : menu.classList.toggle("animate-open-reverse");
  });
</script>
