---
---

<nav
  class="mb-12 flex h-20 items-center justify-between text-2xl font-semibold md:h-28"
>
  <a
    href="/"
    class="flex h-10 w-10 items-center justify-center rounded-sm border border-neutral-200 text-xl font-bold text-neutral-200 transition-all duration-700 hover:rotate-[360deg] hover:scale-125 hover:bg-neutral-200 hover:text-black motion-reduce:transition-none"
    >F</a
  >

  <div class="flex flex-col items-end">
    <div class="z-10 space-y-2 md:hidden" id="hamburger">
      <span class="block h-0.5 w-5 bg-neutral-50"></span>
      <span class="block h-0.5 w-8 bg-neutral-50"></span>
      <span class="block h-0.5 w-8 bg-neutral-50"></span>
    </div>
    <div
      class="fixed right-0 top-0 flex h-full w-full scale-0 flex-col items-center gap-10 pt-28 backdrop-blur-lg backdrop-brightness-[0.25] md:static md:right-auto md:top-auto md:scale-100 md:flex-row md:items-start md:pt-0 md:text-lg md:backdrop-blur-none md:backdrop-brightness-100"
      id="menu"
    >
      <a
        href="/"
        id="home"
        class="text-neutral-400 transition-colors hover:text-neutral-200"
        >01. Home</a
      >
      <a
        href="/projects"
        id="projects"
        class="text-neutral-400 transition-colors hover:text-neutral-200"
        >02. Projects</a
      >
      <a
        href="/about"
        id="about"
        class="text-neutral-400 transition-colors hover:text-neutral-200"
        >03. About</a
      >
      <a
        href="/contact"
        id="contact"
        class="text-neutral-400 transition-colors hover:text-neutral-200"
        >04. Contact</a
      >
    </div>
  </div>
</nav>

<script>
  const hamburger = document.getElementById("hamburger") as HTMLDivElement;
  const menu = document.getElementById("menu") as HTMLDivElement;
  const home = document.getElementById("home") as HTMLLinkElement;
  const projects = document.getElementById("projects") as HTMLLinkElement;
  const about = document.getElementById("about") as HTMLLinkElement;
  const contact = document.getElementById("contact") as HTMLLinkElement;

  function linkToggle() {
    const path = window.location.pathname;
    console.log(path);
    switch (path) {
      case "/":
        home.classList.add("nav-link");
        break;
      case "/projects":
        projects.classList.add("nav-link");
        break;
      case "/about":
        about.classList.add("nav-link");
        break;
      case "/contact":
        contact.classList.add("nav-link");
        break;
    }
  }

  linkToggle();
  hamburger.addEventListener("click", () => {
    !menu.classList.contains("animate-open")
      ? menu.classList.toggle("animate-open")
      : menu.classList.toggle("animate-open-reverse");
  });
</script>
