---
export interface Props {
  title?: string;
}

import "@fontsource/inter/variable-full.css";
import Navbar from "../components/Navbar/Navbar.astro";
import "../styles/base.css";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html class="h-full" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `Fábio | ${title}` : "Fábio"}</title>
  </head>
  <body class="h-full bg-black px-6 text-neutral-100 md:px-12">
    <span class="body-glow" aria-hidden></span>
    <Navbar />
    <slot />
  </body>
</html>
