---
import "@fontsource/inter/variable-full.css";
import Navbar from "@components/navbar/Navbar.astro";
import "@styles/base.css";
import i18next, { t } from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";

export interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html class="h-full" lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Fabio Rodrigues personal web development portfolio"
    />
    <title>{title ? `Fábio | ${t(title)}` : "Fábio"}</title>
    <HeadHrefLangs />
  </head>
  <body
    class="flex h-full flex-col bg-black px-6 text-neutral-100 sm:block md:px-12"
  >
    <span aria-hidden="true"></span>
    <Navbar />
    <slot />
    <style>
      span {
        background: conic-gradient(
          from 180deg at 50% 50%,
          #247fe7 0deg,
          #367caa 180deg,
          #3e24d4 1turn
        );
        mix-blend-mode: normal;
        filter: blur(150px);
        border-radius: 300px;
        height: 80%;
        width: 90%;
        margin: auto;
        display: block;
        opacity: 0.12;
        z-index: -100;
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
        position: absolute;
      }
    </style>
  </body>
</html>
