---
export interface Props {
  title?: string;
}
import "@fontsource/jetbrains-mono";
import Navbar from "../components/Navbar.astro";
const { title } = Astro.props;
import "../styles/base.css";
---

<!DOCTYPE html>
<html class="h-full" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `Fábio | ${title}` : "Fábio"}</title>
  </head>
  <body class="h-full bg-neutral-900 px-6 text-neutral-50 md:px-12">
    <Navbar />
    <slot />
  </body>
</html>
